#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}



@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* Calc Styling code */

#displayScreen{
  width: 280px; height: 70px;
  font-size: xx-large;
  color: white;
  background-color: rgb(23, 23, 23);
  border-style: none;
  border-radius: 6px;
  text-align: right;
}
#numbers{
  width: 70px;height: 70px;
  border-style: none;
  border-bottom: grey solid 1px;
  border-right: 1px grey solid;
  border-radius: 6px;
}
#EqualButton{
  width: 280px;height: 70px;
  border-style: none; border-radius: 6px;
  background-color: rgb(255, 136, 0);

}
